/*
 * Van Elias De Hondt
 * Van Vera Wise
*/
/* NewGameView */
@font-face {
    font-family: Delicious;
    src: url('Pixeltype.ttf');
}
#playerX {
    -fx-font-size: 23px;
    -fx-color: #FFFFFF;
    -fx-padding: 20px;
    -fx-width: 15px;
    -fx-font-family: Pixeltype;
}

#howManyPlayers {
    -fx-font-size: 26px;
    -fx-color: #FFFFFF;
    -fx-padding: 20px;
    -fx-width: 200px;
    -fx-font-family: Pixeltype;
}
#startGame {
    -fx-background-color: #4F94F0;
    -fx-font-size: 20px;
    -fx-color: #FFFFFF;
    -fx-padding: 20px;
    -fx-font-family: Pixeltype;
}
/* NewGameView */
/* WonView */
#labelNSL {
    -fx-font-size: 28px;
    -fx-color: #FFFFFF;
    -fx-padding: 20px;
    -fx-width: 200px;
    -fx-font-family: Pixeltype;
}
/* WonView */
/* WelcomeView */
#buttonNGQB {
    -fx-background-color: #4F94F0;
    -fx-font-size: 28px;
    -fx-color: #FFFFFF;
    -fx-padding: 20px;
    -fx-width: 200px;
    -fx-font-family: Pixeltype;
}
/* WelcomeView */